@charset "UTF-8";

* {
	
}

.mid {

}

.foot {

}

.out {
	width: 100%;
	text-align: center;
}

.in {
	display: inline-block;
}

#main_img {
	max-width: 80%;
	height: auto;
}
.link img {
	max-width: 5%;
	height: auto;
}